*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: system-ui;
    width: 90%;
    margin-inline: auto;
}

img {
    max-width: 100%;
    display : block;
}

.wrapper{
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /*grid-template-rows: auto auto auto;*//* this will happen automatically for subgrid*/
    gap : 1rem;
    margin-top: 5rem;
}
.box {
    border : 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display:grid;
    grid-template-rows: subgrid;
    /* grid-row: 1/4; */
    grid-row: span 3; /* make it responsive without media, see about grid-template-columns with this */
}
